/*       _   _                     
        | \ | |_______  _   _  ___ 
        |  \| |_  / _ \| | | |/ _ \
        | |\  |/ / (_) | |_| |  __/
Made by |_| \_/___\___/ \__, |\___|
                        |___/
*/


@font-face {
    font-family: milkshake;
    src: url(../assets/Milkshake.ttf);
}
@font-face {
    font-family: segoeUI;
    src: url(../assets/SegoeUI.ttf);
}
*{
    margin: 0;
    padding: 0;
}
body{
    background: #FCFAFA;
    font-family: 'segoeUI', sans-serif;
    color: rgba(25, 15, 10, 0.8);
    overflow-x: hidden;
}
.left{
    float: left;
}
.right{
    float: right;
}
.clear{
    clear: both;
}
.empty{
    height: 100px;
}
.container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 0;
}
.full_width{
    width: 100%;
    position: absolute;
    z-index: 999;
}
.full_container_hero{
    width: 100%;
    height: 100vh;
    position: relative;
    overflow: hidden;
}
h1{
    font-family: 'milkshake', sans-serif;
    font-size: 5em;
    color: rgb(255, 208, 56);
}
h2{
    font-family: 'milkshake', sans-serif;
    font-size: 2em;
    color: #fff;
}
h3{
    font-size: 1.8em;
    text-align: center;
    margin-bottom: 30px;
    padding-top: 50px;
}
h4{
    text-align: center;
    font-size: 1.2em;
    padding-bottom: 20px;
}
.col1{
    max-width: calc(85.333px * 1);
    width: calc(8.333% * 1);
    float: left;
    position: relative;
    min-height: 1px;
}
.col2{
    max-width: calc(85.333px * 2);
    width: calc(8.333% * 2);
    float: left;
    position: relative;
    min-height: 1px;
}
.col3{
    max-width: calc(85.333px * 3);
    width: calc(8.333% * 3);
    float: left;
    position: relative;
    min-height: 1px;
}
.col4{
    max-width: calc(85.333px * 4);
    width: calc(8.333% * 4);
    float: left;
    position: relative;
    min-height: 1px;
}
.col5{
    max-width: calc(85.333px * 5);
    width: calc(8.333% * 5);
    float: left;
    position: relative;
    min-height: 1px;
}
.col6{
    max-width: calc(85.333px * 6);
    width: calc(8.333% * 6);
    float: left;
    position: relative;
    min-height: 1px;
}
.col7{
    max-width: calc(85.333px * 7);
    width: calc(8.333% * 7);
    float: left;
    position: relative;
    min-height: 1px;
}
.col8{
    max-width: calc(85.333px * 8);
    width: calc(8.333% * 8);
    float: left;
    position: relative;
    min-height: 1px;
}
.col9{
    max-width: calc(85.333px * 9);
    width: calc(8.333% * 9);
    float: left;
    position: relative;
    min-height: 1px;
}
.col10{
    max-width: calc(85.333px * 10);
    width: calc(8.333% * 10);
    float: left;
    position: relative;
    min-height: 1px;
}
.col11{
    max-width: calc(85.333px * 11);
    width: calc(8.333% * 11);
    float: left;
    position: relative;
    min-height: 1px;
}
.col12{
    max-width: calc(85.333px * 12);
    width: calc(8.333% * 12);
    float: left;
    position: relative;
    min-height: 1px;
}




/* HOME */
.full_container_hero .logo{
    display: block;
    width: 450px;
    height: 130px;
    position: absolute;
    left: calc(50% - 225px);
    top: calc(50% - 65px);
    text-shadow: 1px 1px 1px rgb(235, 235, 211);
}
.full_container_hero a{
    width: 40px;
    display: block;
    position: absolute;
    bottom: 20px;
    left: calc(50% - 20px);
    animation: arrowDownAnimation 3s infinite;
    background: url(../assets/arrowDown.svg) no-repeat center center;
}
.heroVideo{
    height: 110vh;
    margin-left: -2vw;
    margin-top: -1vh;
    opacity: .5;
    position: relative;
    z-index: -1;
}

/* NAVIGATIE */
nav{
    background: rgb(255, 208, 56);
    height: 50px;
}
.navLogo{
    display: block;
    width: 184px;
    height: 50px;
    margin-left: 10px;
}
.desktopNav a{
    text-decoration: none;
    color: #fff;
    float: left;
    padding: 14.5px 15px;
    transition: .1s;
}
.desktopNav a:hover{
    background: #fff;
    color: rgb(255, 208, 56);
}
.mobileNav{
    display: none;
}

/* EXTRA */
.team, .aanpak, .waarZittenWij{
    margin-top: 300px;
}

/* OVER ONS */
.overOns .col6{
    height: 300px;
}
.overOns hr{
    width: 1px;
    height: 300px;
    float: left;
    margin: 0 10px;
    border: none;
    background: rgba(25, 15, 10, 0.8);
}
.overOns .imageBackground{
    background: url(../assets/people-coffee-notes-tea.jpg) no-repeat center center;
    margin-left: -10px;
}

/* TEAM */
.team .col4{
    height: 400px;
}
.team .col4 img{
    width: 50%;
    margin-left: 25%;
    border-radius: 50%;
    border: 1px solid rgba(25, 15, 10, 0.2);
}
.team p{
    text-align: center;
    display: block;
    width: 80%;
    margin: 0 auto;
}

/* AANPAK */
.aanpak .col4 img{
    width: 26%;
    margin-left: 37%;
}
.aanpak .col4 p{
    display: block;
    width: 70%;
    margin: 20px 15%;
    text-align: justify;
}

/* WAAR ZITTEN WIJ? */
.waarZittenWij .googleMaps{
    height: 300px;
    margin-left: -10px;
}
.waarZittenWij .googleMaps iframe{
    width: 100%;
    height: 100%;
}
.waarZittenWij hr{
    width: 1px;
    height: 300px;
    float: left;
    margin: 0 10px;
    border: none;
    background: rgb(25, 15, 10);
}

/* PORTFOLIO */
.portfolio .col6{
    height: 300px;
    margin: 10px;
    width: calc(50% - 20px);
}
.portfolio .item1{
    background: url(../assets/bredaLive.jpg) no-repeat center center;
    background-size: cover;
}
.portfolio .item2{
    background: url(../assets/lodo2.jpg) no-repeat top center;
    background-size: cover;
}
.portfolio .item3{
    background: url(../assets/newCrane2D.png) no-repeat center center;
    background-size: cover;
}
.portfolio .item4{
    background: url(../assets/youDontKnowMe2D.png) no-repeat center center;
    background-size: cover;
}
.portfolio .item5{
    background: url(../assets/webdadSpel.png) no-repeat center center;
    background-size: cover;
}
.portfolio .item6{
    background: url(../assets/Penseel_eigen%20oefening-01.png) no-repeat bottom center;
    background-size: cover;
}
.portfolio .item7{
    background: url(../assets/bredaLive.jpg) no-repeat center center;
    background-size: cover;
}
.portfolio .item8{
    background: url(../assets/lodo2.jpg) no-repeat top center;
    background-size: cover;
}
.portfolio .item9{
    background: url(../assets/newCrane2D.png) no-repeat center center;
    background-size: cover;
}
.portfolio .item10{
    background: url(../assets/youDontKnowMe2D.png) no-repeat center center;
    background-size: cover;
}
.portfolio .item11{
    background: url(../assets/webdadSpel.png) no-repeat center center;
    background-size: cover;
}
.portfolio .item12{
    background: url(../assets/Penseel_eigen%20oefening-01.png) no-repeat bottom center;
    background-size: cover;
}
/* JOBS */
.jobs .col12{
    margin-bottom: 40px;
}
.jobs .col12 p{
    padding: 20px;
    width: calc(100% - 40px);
    display: block;
}
.jobs .col12 .col12:nth-child(odd){
    background: #fff;
    color: rgb(255, 208, 56);
}
.jobs .col12 .col12:nth-child(odd) a{
    background: rgb(255, 208, 56);
    border: none;
    display: block;
    width: 70px;
    padding: 5px 15px;
    margin-left: 20px;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 20px;
    text-decoration: none;
}
.jobs .col12 .col12:nth-child(even){
    background: rgb(255, 208, 56);
    color: #fff;
}
.jobs .col12 .col12:nth-child(even) a{
    background: #fff;
    border: none;
    display: block;
    width: 70px;
    padding: 5px 15px;
    margin-left: 20px;
    border-radius: 5px;
    color: rgb(255, 208, 56);
    margin-bottom: 20px;
    text-decoration: none;
}

/* CONTACT */
.contact .col6{
    background: #dbdbdb;
    border-radius: 5px;
}
.contact input{
    display: block;
    width: calc(90% - 20px);
    height: 30px;
    margin-left: 5%;
    margin-top: 25px;
    border: none;
    padding: 10px;
}
.contact textarea{
    display: block;
    width: calc(90% - 20px);
    height: 300px;
    margin-left: 5%;
    margin-top: 25px;
    resize: none;
    padding: 10px;
    border: none;
}
.contact button{
    width: 90%;
    padding: 15px 0px;
    margin: 25px 5%;
    background: rgb(255, 208, 56);
    color: white;
    border: none;
}
.contact button:active{
    background: rgb(243, 202, 112);
}

/* ANIMATIONS */
@keyframes arrowDownAnimation{
    0%, 20%, 50%, 80%, 100%{
        transform: translateY(0);
    }
    40%{
        transform: translateY(-20px);
    }
    60%{
        transform: translateY(-10px);
    }
}
@media screen and (max-width: 1024px){
    .heroVideo{
        opacity: 0;
    }
    .col6, .col5{
        width: 100%;
        clear: both;
        float: none;
        margin: 0 auto;
    }
    .overOns hr, .waarZittenWij hr{
        display: none;
    }
    .overOns .imageBackground, .waarZittenWij .googleMaps{
        margin-left: 0px;
        margin: 0 auto;
    }
    .portfolio .col6{
        margin: 10px auto;
        width: 100%;
    }
    .desktopNav{
        display: none;
    }
    .mobileNav{
        display: block;
        width: 42px;
        height: 36px;
        background: #FFD038;
        margin: 7px 10px;
        border-radius: 3px;
    }
    .mobileNav .navBalk{
        width: 36px;
        height: 6px;
        background: #fff;
        border-radius: 5px;
        margin: 4.5px 3px;
    }
    .mobileNav .hiddenNavItems{
        position: absolute;
        width: 200px;
        margin-left: -158px;
        display: none;
    }
    .space8{
        height: 7px;
    }
    .mobileNav .hiddenNavItems a{
        text-decoration: none;
        background: #FFD038;
        display: block;
        width: calc(100% -);
        color: #fff;
        text-align: right;
        padding: 10px;
        transition: .1s;
    }
    .hiddenNavItems a:hover{
        background: #FCFAFA;
        color: #FFD038;
    }
    .mobileNav:hover > .hiddenNavItems{
        display: block;
    }
}
@media screen and (max-width: 612px){
    .col4{
        height: 400px;
        clear: both;
        float: none;
        width: 100%;
        margin: 0 auto;
    }
}